*{
    background-color: white;
}
/*
body{
    background-color: black;
    color:aliceblue;
}

.table{
    background-color: black;
    color: white;
}
*/
.ma{
    background-color: white;
    color: white;
}
#num1{
    background-color: blueviolet;
}
#num2{
    background-color: blueviolet;
}
#num3{
    background-color: blueviolet;
}
#num4{
    background-color: blueviolet;
}
#num5{
    background-color: blueviolet;
}
#num6{
    background-color: blueviolet;
}
#num7{
    background-color: blueviolet;
}
#num8{
    background-color: blueviolet;
}
#num9{
    background-color: blueviolet;
}
#num0{
    background-color: blueviolet;
}

#di{
    background-color: blueviolet;
}
#su{
    background-color: blueviolet;
}
#mu{
    background-color: blueviolet;
}
#do{
    background-color: blueviolet;
}
#ad{
    background-color: blueviolet;
}
#cc{
    background-color: rgb(236, 10, 85);
}
#eq{
    background-color: rgb(236, 10, 85);
}